footer {
  width: 100%;
  border-top: 1px solid rgba(255, 202, 122, 0.6);

  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  background-image: linear-gradient(-25deg, rgb(10, 47, 53) 0%, rgba(3, 37, 4, 0.739) 50%);
  box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
}

.footer_container {
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_link {
  color: #ffca7a;
  cursor: pointer;
}

.footer_link:hover {
  color: rgba(255, 202, 122, 0.6);
}

.footer_logo {
  margin: 1rem 0;
  font-size: 24px;
}

.footer_container ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer_socials_wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.copyrights {
  color: #ffca7a;
  font-size: 12px;
  margin-bottom: 2rem;
}
