.services_group {
  display: grid;
  grid-template-columns: repeat(3, 270px);
  justify-content: center;
  column-gap: 1.8rem;
}

.services_wrapper {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffca7a;
  border-bottom-color: #ffca7a;
  border-left-style: none;
  border-right-style: none;
  border-radius: 5px;
  padding: 6rem 0 2rem 2rem;
  text-align: start;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.services_button_icon {
  font-size: 13px;
  transition: 0.3s;
}

.services_icon {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  color: rgba(255, 202, 122, 0.6);
  margin-bottom: 1rem;
}

.services_button {
  color: #ffca7a;
  font-size: 12px;
  border: none;
  font-weight: 300;
  position: relative;
  justify-self: flex-end;
  background-color: transparent;
  display: inline-flex;
  column-gap: 0.25rem;
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.services_button:hover .services_button_icon {
  transform: translateX(00.25rem);
}

.services_wrapper h3 {
  font-size: 17px;
  color: #ac0d0d;
  margin-bottom: 1rem;
  font-weight: 600;
}

.services_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.services_modal_wrapper {
  width: 500px;
  position: relative;
  background-image: linear-gradient(-25deg, rgb(10, 47, 53) 0%, rgba(3, 37, 4, 0.739) 100%);
  border-radius: 5px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffca7a;
  border-bottom-color: #ffca7a;
  border-left-style: none;
  border-right-style: none;
  padding: 4.5rem 2.5rem 2.5rem;
}

.services_modal_close {
  color: rgba(255, 202, 122, 0.6);
  position: absolute;
  border: none;
  background-color: transparent;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.modal_header,
.modal_description {
  text-align: center;
}

.modal_description {
  padding: 0 2rem;
}

.services_modal_wrapper li {
  display: flex;
  align-content: center;
  column-gap: 0.5rem;
}

.services_modal_icon {
  color: rgba(255, 202, 122, 0.6);
  font-size: 12px;
}

.active_modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 992px) {
  .services_group {
    grid-template-columns: repeat(3, 218px);
  }
}

@media screen and (max-width: 768px) {
  .services_group {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .services_wrapper {
    padding: 6rem 8rem 2rem 2rem;
  }
}

@media screen and (max-width: 576px) {
  .services_group {
    display: flex;
    flex-direction: column;
  }
  
  .services_wrapper {
    padding: 6rem 8rem 2rem 2rem;
  }
}

@media screen and (max-width: 350px) {
  .services_group {
    grid-template-columns: max-content;
    gap: 2rem;
  }

  .services_wrapper {
    padding: 6rem 8rem 2rem 2rem;
  }
}
