.skills_group {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
  column-gap: 3rem;
}

.skills_details_container {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ffca7a;
  border-bottom-color: #ffca7a;
  border-left-style: none;
  border-right-style: none;
  border-radius: 5px;
  padding: 1rem 4px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

.skills_details_title {
  font-size: 17px;
  font-weight: 600;
  color: #ffca7a;
  margin-bottom: 1rem;
}

.skills_card {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  padding: 1rem 0;
}

.skills_wrapper {
  display: grid;
  align-items: flex-start;
  row-gap: 1rem;
}

.skills_information {
  display: flex;
  column-gap: 0.5rem;
}

.skills_information .bx-badge-check {
  color: #ffca7a;
  font-size: 1rem;
}

.skills_name_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.skills_name_wrapper h3 {
  color: #ffca7a;
  font-size: 14px;
  margin-bottom: 0.7rem;
}

.skills_name_wrapper span {
  color: rgba(255, 202, 122, 0.6);
  font-size: 10px;
}

@media screen and (max-width: 992px) {
  .skills_group {
    grid-template-columns: max-content;
    row-gap: 3rem;
  }

  .skills_details_container {
    padding: 1rem 2rem;
  }

  .skills_card {
    column-gap: 4rem;
  }
}

@media screen and (max-width: 576px) {
  .skills_group {
    row-gap: 2rem;
  }

  .skills_details_container {
    padding: 1rem 1.5rem;
  }

  .skills_card {
    column-gap: 3rem;
    padding: 0.8rem 0;
  }
}

@media screen and (max-width: 350px) {
  .skills_group {
    row-gap: 1rem;
  }

  .skills_details_container {
    padding: 0.5rem 1rem;
  }

  .skills_card {
    column-gap: 2rem;
    padding: 0.5rem 0;
  }

  .skills_information .bx-badge-check {
    font-size: 0.8rem;
  }

  .skills_name_wrapper h3 {
    font-size: 10px;
  }
}
