header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(-25deg, rgb(10, 47, 53) 0%, rgba(3, 37, 4, 0.739) 100%);
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  padding: 0 5%;
}

.logo,
.nav_toggle {
  color: #ffca7a;
  font-weight: 600;
}

.nav_menu ul {
  display: flex;
  column-gap: 1rem;
}

li {
  list-style: none;
  font-size: 12px;
}

a {
  text-decoration: none;
}

/* Display None */

.nav_icon,
.nav_close,
.nav_toggle,
.visually-hidden {
  display: none;
}

/* >>>>>>>>>>>>> */

.nav_link {
  color: #ffca7a;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  padding: 6px 12px;
}

.active_link,
.nav_link:hover {
  border-top-width: 1px;
  border-bottom-width: 1px;

  /* border-left-style: solid; */
  border-bottom-style: solid;

  /* border-left-color: #ffca7a; */
  border-bottom-color: #ffca7a;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  header {
    top: initial;
    bottom: 0;
  }

  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 0 4rem 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -79px 40px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 8px, rgba(0, 0, 0, 0.09) 0 32px 16px;
    background-image: linear-gradient(-25deg, rgb(10, 47, 53) 0%, rgba(3, 37, 4, 0.739) 100%);
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
  }

  nav {
    padding: 0 5% 0 5%;
  }

  .show_menu {
    bottom: 0;
  }

  .nav_menu ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-inline-start: 0;
  }

  .nav_icon {
    font-size: 1.2rem;
  }

  .nav_close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #ffca7a;
  }

  .nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: block;
  }

  .active_link,
  .nav_link:hover {
    border: none;
  }
}

@media screen and (max-width: 350px) {
  .nav_menu {
    padding: 2rem 0.25rem 4rem 0;
  }

  .nav_menu ul {
    column-gap: 0;
  }

  nav {
    padding: 0 1rem;
  }
}
