@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page_container {
  width: 100%;
  padding: 10% 10%;
  background-image: linear-gradient(-25deg, rgb(10, 47, 53) 0%, rgba(3, 37, 4, 0.739) 0%);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
}

@media screen and (max-width: 992px) {
  .page_container {
    padding: 20% 10%;
  }
}

@media screen and (max-width: 768px) {
  .page_container {
    padding: 20% 5% 5% 5%;
  }
}
